.card-container {
  width:200px;
  height:300px;
  border:1px solid black;
  border-radius:20px;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  flex-direction:column;
}

.card-container h2 {
  text-transform:uppercase;
  font-size:20px;
}

.App {
  width:80%;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:20px;
}

.card-img-container img {
  width:100%;
}

.card-img-container {
  display:flex;
  justify-content:center;
}